<nav class="ui inverted menu">
    <header class="header item"> Menu</header>
    <div class="right menu">
        {{#formatSelectMenu  ../PID}}
            a class="item" href="/home">Home</a>
            <a class="item" href="/report">View Points</a>
            <a class="item" href="/addPoint">Add new Point</a>
            <a class="item" href="/cloud">Gallery</a>
            <a class="item" href="/settings">Settings</a>
            <a class="item" href="/signupAdmin"> Admin Signup</a>
            <a class="item" href="/userView">User Listings</a>
            <a class="item" href="/logout">Logout</a>
        {{else}}
            <a class="item" href="/home"> Home</a>
            <a class="item" href="/report"> View Points</a>
            <a class="item" href="/addPoint">  Add new Point</a>
            <a class="item" href="/cloud">  Gallery</a>
            <a class="item" href="/settings"> settings</a>
            <a class="item" href="/logout">  Logout</a>
        {{/formatSelectMenu}}
    </div>
</nav>

<section class="ui raised segment">
    <div class="ui grid">
        <div class="ui ten wide column">
            <div class="ui stacked fluid form segment">
                <form action="/userEdit" method="POST">
                    <h3 class="ui header">{{title}}</h3>
                    <div class="two fields">
                        <div class="field">
                            <label>First Name</label>
                            <input value="{{userr.firstName}}" type="text" name="firstName">
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input value="{{userr.lastName}}" type="text" name="lastName">
                        </div>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input value="{{userr.email}}" type="text" name="email">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input value="{{userr.password}}" type="password" name="password">
                    </div>
                    <button class="ui blue submit button">Save</button>
                </form>
            </div>
            </div>
        </div>
        <aside class="ui five wide column">
            <img src="images/homer3.png" class="ui medium image">
        </aside>
    </div>
    </section>